.eachcontact {
  display: flex;
  flex-direction: row;
  padding: 20px;
  align-items: center;
  border-bottom: 1px solid var(--themeColor);
}
.eachcontact > div {
  flex: 1;
}
.eachcontact > div > p > span {
  font-weight: bold;
}
