.advice {
  margin: 20px;
  margin-left: 50px;
  width: 70vw;
  border: 1px solid var(--themeColor);
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
  box-shadow: 0 0 2px var(--themeColor);
  position: relative;
  margin-bottom: 50px;
}
.advice_like_dislike {
  position: absolute;
  bottom: -25px;
  width: 80px;
  display: flex;
  justify-content: space-between;
}
.like,
.dislike {
  font-size: 20px;
  color: var(--themeColor);
}
.advice_like_dislike > div {
  display: flex;
}
.timestamp {
  position: absolute;
  bottom: -15px;
  right: 10px;
  color: gray !important;
  font-size: 10px !important;
}
