.button {
  background-color: #f73378;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  border: none;
  width: fit-content;
  outline: none;
}
.button:hover {
  background-color: #ab003c;
  border: 1px solid #ab003c;
}
