.button {
  background-color: #222261;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  border: none;
  width: fit-content;
  outline: none;
  cursor: pointer;
}
.button:hover {
  background-color: #f50057;
  border: 1px solid #f50057;
  color: white;
}
