.homepage_section {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 70px;
  min-height: calc(100vh - 105px);
  justify-content: space-evenly;
  align-items: center;
}
.homepage_details > h2 {
  font-size: 50px;
}
.homepage_image {
  width: 300px;
}
.homepage_details > button {
  border-radius: 20px;
  margin-top: 20px;
}
.best {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
.heading {
  font-size: 50px;
  margin: 30px auto;
  text-align: center;
}
.feature {
  padding: 20px;
  text-align: center;
}
.feature > img {
  width: 200px;
}
.footer {
  text-align: center;
  background-color: var(--themeColor);
  color: white;
  padding: 20px;
}
@media (max-width: 1040px) {
  .homepage_details > h2 {
    font-size: 34px;
  }
}
@media (max-width: 700px) {
  .homepage_details > h2 {
    font-size: 25px;
  }
  .homepage_section {
    flex-direction: column-reverse;
    text-align: center;
  }
}
