.sidebar {
  height: 100vh;
  width: 250px;
  background-color: #f73378;
  border-right: 1px solid white;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar_name_section1,
.sidebar_name_section2 {
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.sidebar_name_section1 {
  height: 50px;
  /* background-color: var(--themeColor); */
}
.sideapp_name {
  color: white;
  font-size: 17px;
}
.sidebar_menuicon {
  color: white;
  margin-right: 10px;
}
.sidebar_name_section2 > p {
  margin-left: 35px;
  margin-top: -5px;
  color: white;
}
.sidebar_name_section2 {
  border-bottom: 1px solid white;
}
@media (max-width: 600px) {
  .sidebar {
    width: 100%;
  }
}
