.post {
  padding: 15px 20px;
  border: 1px solid whitesmoke;
  box-shadow: 0px 0px 8px #888888;
  margin: 20px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: white;
  position: relative;
}
.chat_icon {
  color: #222261;
  margin-top: 10px;
  cursor: pointer;
  margin-left: 20px;
}
.post > p {
  font-size: 13px;
  color: #222261;
  margin-left: 20px;
}
.timestamp {
  position: absolute;
  bottom: -17px;
  right: 10px;
  color: #ab003c !important;
  font-size: 10px !important;
}
.username {
  font-size: 10px !important;
  margin-bottom: 5px;
  text-decoration: underline;
  margin-left: 0px !important;
}
