.login {
  margin-top: 80px;
  min-height: calc(100vh - 140px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.loginimg {
  width: 300px;
}
.login > form {
  display: flex;
  flex-direction: column;
}
.login > form > input {
  margin-bottom: 50px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  border: 1px solid var(--themeColor);
}
.login > form > button {
  background-color: var(--themeColor);
  padding: 10px 0px;
  border-radius: 10px;
  color: white;
  border: none;
}
@media (max-width: 550px) {
  .login > img {
    display: none;
  }
}
